.appLayout {
  flex-grow: 1;
  display: flex;
  padding: 15px;
  color: #fff;
  flex-direction: column;
  background-color: #b71e1e;
  border: 5px solid #970202;

  > header {
    nav {
      padding: 15px 0;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;

        a {
          color: #fff;
          padding: 4px 15px;
          display: inline-block;
        }
      }
    }
  }

  > .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
